.layout_content {
	position: relative;
	width: 100vw;
	height: 100vh;
	background:rgb(19, 19, 19);
	z-index: 1;
	box-shadow: 0px 0px 40px -10px rgb(0, 0, 0);
	display: flex;
	flex-direction: column;
	overflow: hidden;
}
.layout_navbar {
	display: flex;
	justify-content: space-between;
	padding: 30px;
    align-items: center;
}
.layout_navbar_right span {
	color: white;
	margin: 10px;
	font-weight: 800;
	letter-spacing: 0.3px;
	padding: 5px 20px;
	border-radius: 50px;
}
.layout_navbar_right span:hover {
	background: white;
	color: rgba(1, 144, 155, 0.707);
}
.layout_navbar_left div {
	display: flex;
	align-items: center;
	justify-content: center;
	color: white;
	gap: 15px;
	font-size: 25px;
	font-weight: 800;
}

.layout_navbar_left div img {
	width: 40px;
}

@media only screen and (max-width: 1300px) {
	.layout_wrapper .layout_content {
		background: url("../../assets/gradient.gif");
		background-repeat: no-repeat;
		background-size: cover;
        background-position: center;
		height: 97vh;
	}
}
